<!-- EDIT CLINIC MODAL -->

<div class="modal-container">
  <div id="clinic-modal">

   <div class="clinic-body">
      <h2 class="clinic-header">Edit Clinic</h2>
      <div class="clinic-form">
       <%= form_for @clinic do |f| %>
       <label class="clinic-label" for="name">Clinic Name</label><br>
       <%= f.text_field :name %><br>
       <label class="clinic-label" for="hours">Hours</label><br>
       <%= f.text_field :hours %><br>
      </div><br>

      <div>
       <%= f.submit "Update", class: "clinic-submit-btn" %><br>
       <%= link_to 'Cancel', @clinics, class: "cancel-link-4" %>
      </div>
       <% end %>

    </div>
  </div>
</div>
<link rel="stylesheet" href="/assets/clinics.css">
