<button type="button" onclick="modalOpen()">Trigger</button>

<div class="modal-container">
  <div id="clinic-modal">

   <div class="clinic-body">
      <h2 class="clinic-header">
       Clinic Signup
      </h2>
      <hr class="hr-break-4">
      <div class="clinic-form">
       <%= form_for @clinic do |f| %>
       <label class="clinic-label" for="name">Clinic Name</label><br>
       <%= f.text_field :name %><br>
       <label class="clinic-label" for="hours">Hours</label><br>
       <%= f.text_field :hours %><br>
      </div><br>

      <div>
       <%= f.submit "Create", class: "clinic-submit-btn" %><br>
       <%= link_to 'Cancel', root_path, class: "cancel-link-4" %>
      </div>
       <% end %>

    </div>
  </div>
</div>


<script src="/assets/clinics.js"></script>
