<!-- USER LOGIN MODAL -->
<link rel="stylesheet" href="app/assets/stylesheets/sessions.scss">

<div class="modal-container">
  <div class="row login-btn">
    <div class="column"><button type="button" class="add-login-btn" onclick="adminOpen()">Login</button></div>
  </div>
  <div id="admin-modal">
     <div class="admin-body">
       <h2 class="admin-header">Login</h2>
       <div class="admin-form">
         <%= form_for(:session, url: login_path) do |f| %>
         <label class="admin-label" for="email">Email</label><br>
         <%= f.text_field :email, class: "admin-select-field" %><br>
         <label class="admin-label" for="password">Password</label><br>
         <%= f.password_field :password, class: "admin-select-field" %><br>
       </div>
       <div class="login-cancel">
         <%= f.submit "Login", class: "admin-submit-btn" %><br>
         <%= link_to 'Cancel', pages_home_path, class: "cancel-link" %>
       </div>
         <% end %>
   </div>
  </div>
</div>

<script src="/assets/sessions.js"></script>

<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
