<!-- USER LOGIN MODAL -->

<div class="modal-container">
  <button type="button" class="add-user-btn" onclick="userOpen()">Sign Up</button>

  <div id="user-modal">
     <div class="user-body">
       <h2 class="user-header">Login</h2>
       <div class="user-form">
         <%= form_for (:session, url: login_path) do |f| %>
         <label class="user-label" for="email">Email</label><br>
         <%= f.text_field :email, class: "user-select-field" %><br>
         <label class="user-label" for="last_name">Last Name</label><br>
         <%= f.password_field :password, class: "user-select-field" %><br>

         <div class="option-area">
         <%= f.submit "Submit", class: "user-submit-btn" %><br>
         <%= link_to 'Cancel', new_user_path, class: "cancel-link" %>
       </div>
         <% end %>
    </div>
  </div>
</div>



<%= form_for(:session, url: login_path) do |f| %>
  <label for="">Email</label><br>
  <%= f.text_field :email %><br>
  <label for="">Password</label><br>
  <%= f.password_field :password %><br>

  <div>
    <%= f.submit 'Login' %>
  </div>
<% end %>



<script src="/assets/users.js"></script>
<link rel="stylesheet" href="/assets/users.scss">
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
