<%= render 'new' %>

<div class="wrapper">
  <div class="row">
    <div class="column cohorts-table-head">Cohorts</div>
    <div class="column-6">
      <button type="button" class="add-cohort-btn" onclick="cohortOpen()">Add Cohort</button>
    </div>
  </div>
  <table class="cohorts-table">
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Coach</th>
      <th>Profile</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
    <% @cohort_all.each do |c| %>
    <tr class="cohorts-trows">
      <td><%= c.name %></td>
      <td><%= c.start_date %></td>
      <td><%= c.end_date %></td>
      <td><%= c.coach.try(:last_name) %></td>
      <td>
        <%= link_to cohort_path(c.id) do %>
          <i class="fas fa-user"></i>
        <% end %>
      </td>
      <td>
        <%= link_to edit_cohort_path(c.id) do %>
          <i class="fas fa-user-edit"></i>
        <% end %>
      </td>
      <td>
        <%= link_to cohorts_path, method: :delete, remote: true, data: {confirm: 'are you sure?'} do %>
          <i class="fas fa-user-times"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>

</div>

<script src="/assets/cohorts.js"></script>
