<%= render 'new' %>

<!-- COHORTS TABLE -->
<div class="wrapper">
  <div class="row">
    <div class="column cohorts-table-head">Cohorts</div>
    <div class="column-6">
      <button type="button" class="add-cohort-btn" onclick="cohortOpen()">Add Cohort</button>
    </div>
  </div>
   <% if @cohort_all.present? %>
  <table class="cohorts-table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Coach</th>
      <th>Clinic</th>
      <th>Profile</th>
      <th>Remove</th>
    </tr>
    <% @cohort_all.each do |c| %>
    <tr class="cohort-trows" id="cohort-<%= c.id %>">
      <td><%= c.id %></td>
      <td><%= c.name %></td>
      <td><%= c.start_date %></td>
      <td><%= c.end_date %></td>
      <td><%= c.coach.try(:last_name) %></td>
      <td><%= c.clinic.try(:name) %></td>
      <td>
        <%= link_to cohort_path(c.id) do %>
          <i class="fas fa-chalkboard-teacher"></i>
        <% end %>
      </td>
      <td>
        <%= link_to cohort_path(c.id), method: :delete, data: {confirm: 'Are you sure you want to delete?', remote: true} do %>
          <i class="fas fa-user-times"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
    <% else %>
     <h1>NO COHORTS FOUND...</h1>
    <% end %>
  </table>

</div>

<script src="/assets/cohorts.js"></script>
