<%= render 'new' %>

<div class="wrapper">
  <div class="row">
    <div class="column cohorts-table-head">Cohorts</div>
    <div class="column-6">
      <button type="button" class="add-cohort-btn" onclick="cohortOpen()">Add Cohort</button>
    </div>
  </div>
  <table class="cohorts-table">
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Coach</th>
    </tr>
    <% @cohort_all.each do |c| %>
    <tr class="cohorts-trows">
      <td><%= link_to c.name, c %></td>
      <td><%= c.start_date %></td>
      <td><%= c.end_date %></td>
      <td><%= c.coach.try(:last_name) %></td>
    </tr>
    <% end %>
  </table>

</div>

<script src="/assets/cohorts.js"></script>
