<%= form_for @cohort do |f| %>
  <h1>Create New Cohort</h1>
    <label for="name">Name of Cohort</label><br>
      <%= f.text_field :name %><br>
    <label for="start_date">Start Date</label><br>
      <%= f.date_field :start_date %><br>
    <label for="end_date">End Date</label><br>
      <%= f.date_field :end_date %><br></br>

    <!-- <label for="coaches">Select Coach</label><br> -->
      <%= f.collection_select :clinic_id,
                               Clinic.all,
                              :id,
                              :name, {:prompt => 'Add Clinic'} %><br></br>

      <%= f.collection_select :coach_id,
                               Coach.all,
                              :id,
                              :coach_full_name, {:prompt => 'Add Coach'} %><br></br>

    <!-- <label for="players">Select Players</label><br></br> -->
      <%= f.collection_select :player_ids,
                               Player.all,
                              :id,
                              :player_full_name, {:prompt => 'Add Player'}, {:multiple => true} %>
    <p>
      <%= f.submit "Create" %>
    </p>

<% end %>

<%= link_to 'Cancel', root_path %>
