 <%# form to create new cohort %>

 <%= form_for @cohort do |f| %>
    <label for="form">Name of Cohort</label><br>
      <%= f.text_field :name %><br>
    <label for="form">Start Date</label><br>
      <%= f.date_field :start_date %><br>
    <label for="form">End Date</label><br>
      <%= f.date_field :end_date %><br>

    <p>
      <%= f.submit "Create" %>
    </p>
      <%# add link_to 'back' %>
<% end %>
