<%= form_for @cohort do |f| %>
  <h1>Create New Cohort</h1>
    <label for="name">Name of Cohort</label><br>
      <%= f.text_field :name %><br>
    <label for="start_date">Start Date</label><br>
      <%= f.date_field :start_date %><br>
    <label for="end_date">End Date</label><br>
      <%= f.date_field :end_date %><br></br>

    <label for="coaches">Select Coach</label><br>
      <%= f.collection_select :coach_id,
                              Coach.all,
                              :id,
                              :coach_full_name %><br></br>

    <label for="players">Select Players</label>
      <%= f.collection_check_boxes :player_ids,
                              Player.all,
                              :id,
                              :player_full_name do |b| %>

    <div class="collection-check-box">
      <%= b.check_box %>
      <%= b.label %>
    </div>
<% end %>

<p>
<%= f.submit "Create" %>
</p>

<% end %>

<%= link_to 'Cancel', root_path %>
