<h2><%= @cohort.name %></h2>
<p>
  Start Date: <%= @cohort.start_date %><br>
  End Date: <%= @cohort.end_date %>
</p>

<h3>Clinic</h3>
<p><%= @cohort.clinic.name %></p>

<h3>Coach's Name</h3>
<p><%= @cohort.coach.coach_full_name %></p>

<% @cohort.players.each do |p| %>

<p><%= p.player_full_name %></p>

<% end %>
