<%= render 'players/new' %>

<div class="profile-wrapper">

<!-- COHORT PROFILE CARD -->
<div class="wrapper-card">
  <div class="cohort-card">
    <div class="row-card">
      <div class="column cohort-card-name"><h3><%= @cohort.name %></h3></div>
    </div>
    <hr class="hr-card">
    <div class="row-card">
      <div class="column">
        Dates: <%= @cohort.start_date %>––<%= @cohort.end_date %>
      </div>
    </div>
    <div class="row-card">
      <div class="column">Coach: <%= @cohort.coach.coach_full_name.upcase %></div>
    </div>
    <div class="row-card">
      <div class="column">Clinic: <%= @cohort.clinic.name.upcase %></div>
    </div>
    <div class="row-card">
      <div class="column">
        <%= link_to "Edit", edit_cohort_path %>
        <%= link_to "Delete", @cohort, method: :delete,
                                       remote: true,
                                       data: {confirm: 'are you sure?'} %>
      </div>
    </div>
  </div>
</div>

<!-- (COHORT) STUDENTS TABLE -->

<div class="table-wrapper">
    <div class="row">
      <div class="column cohort-table-head"><h3>Players</h3></div>
      <div class="column">
        <button type="button" class="add-player-btn" onclick="playerOpen()">Add Player</button>
      </div>
    </div>
    <table class="cohort-table">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Gender</th>
      </tr>
      <% @cohort.players.each do |p| %>
      <tr class="cohort-trows">
        <td><%= p.first_name %></td>
        <td><%= p.last_name %></td>
        <td><%= p.age %></td>
        <td><%= p.gender %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<script src="/assets/players.js"></script>
