<!-- USER (EDIT) MODAL -->

<div class="modal-container">
  <div id="user-modal">

     <div class="user-body">
       <h2 class="user-header">Edit User</h2>
       <div class="user-form">
         <%= form_for @user do |f| %>
         <label class="user-label" for="first_name">First Name</label><br>
         <%= f.text_field :first_name, class: "user-select-field" %><br>
         <label class="user-label" for="last_name">Last Name</label><br>
         <%= f.text_field :last_name, class: "user-select-field" %><br>
         <label class="user-label" for="email">Email</label><br>
         <%= f.email_field :email, class: "user-select-field" %><br>
         <label class="user-label" for="password">Change Password</label><br>
         <%= f.password_field :password, class: "user-select-field" %><br>
       </div>

       <div class="update-cancel">
         <%= f.submit "Update", class: "user-update-btn" %><br>
         <%= link_to 'Cancel', @user, class: "cancel-link" %>
       </div>
         <% end %>
    </div>
  </div>
</div>
