<!-- NEW COACH MODAL -->

<div class="modal-container">
  <div id="coach-modal">

  <div class="coach-body">
    <h2 class="coach-header">New Coach</h2>
  <div class="coach-form">
    <%= form_for @coach do |f| %>
    <label class="coach-label" for="first_name">First Name</label><br>
    <%= f.text_field :first_name %><br>
    <label class="coach-label" for="last_name">Last Name</label><br>
    <%= f.text_field :last_name %><br>
    <label class="coach-label" for="age">Age</label><br>
    <%= f.number_field :age %><br>
    <label class="coach-label" for="salary">Salary</label><br>
    <%= f.number_field :salary %><br>
    <%= f.select(:gender, ['--Gender--', 'Male', 'Female'], {}, {:class => "coach-select-field"}) %><br>
    <%= f.select(:education, ['--Highest Education--',
                               'High School',
                               'College',
                               'Masters',
                               'PHD'], {}, {:class => "coach-select-field"}) %>
   </div><br>

   <div>
     <%= f.submit "Create", class: "coach-submit-btn" %><br>
     <%= link_to 'Cancel', coaches_path, class: "cancel-link-3" %>
   </div>
     <% end %>

    </div>
  </div>
</div>

<script src="/assets/coaches.js"></script>
<link rel="stylesheet" href="/assets/coaches.css">
