<!-- BUTTON TO TRIGGER THE MODAL -->
<button type="button" onclick="modalOpen()">Trigger</button>

<div class="main-container">
  <div id="coach-modal">

  <div class="coach-body">
    <h2 class="coach-header">Add New Coach</h2>
    <hr class="hr-break-3">
  <div class="coach-form">
    <%= form_for @coach do |f| %>
    <label class="coach-label" for="first_name">First Name</label><br>
    <%= f.text_field :first_name %><br>
    <label class="coach-label" for="last_name">Last Name</label><br>
    <%= f.text_field :last_name %><br>
    <label class="coach-label" for="age">Age</label><br>
    <%= f.number_field :age %><br>
    <%= f.select(:gender, ['--Sex--', 'Male', 'Female'], {}, {:class => "coach-select-field"}) %><br>
    <%= f.select(:education, ['--Highest Education--',
                               'High School',
                               'College',
                               'Masters',
                               'PHD'], {}, {:class => "coach-select-field"}) %>
 </div><br>

   <div>
     <%= f.submit "Add Coach", class: "coach-submit-btn" %><br>
     <%= link_to 'Cancel', 'pages/home', class: "cancel-link-3" %>
   </div>
<% end %>

    </div>
  </div>
</div>

<script src="/assets/coaches.js"></script>
