<!-- BUTTON TO TRIGGER THE MODAL -->
<button type="button" onclick="modalOpen()">Trigger</button>

<div class="main-container">
  <div id="coach-modal">

  <div class="coach-body">
    <h2 class="coach-header">Add New Coach</h2>
    <hr class="hr-break-3">

  <div class="coach-form">
    <%= form_for @coach do |f| %>
    <label for="first_name">First Name</label><br>
    <%= f.text_field :first_name %><br>
    <label for="last_name">Last Name</label><br>
    <%= f.text_field :last_name %><br>
    <label for="age">Age</label><br>
    <%= f.number_field :age %><br></br>
    <%= f.select(:gender, ['--Sex--', 'Male', 'Female']) %><br>
    <%= f.select(:education, ['--Highest Education--',
                               'High School',
                               'College',
                               'Masters',
                               'PHD']) %>
 </div><br>

   <div class="submit-btn-3">
     <%= f.submit "Add Coach" %>
     <%= link_to 'Cancel', 'pages/home' %>
   </div>
<% end %>

    </div>
  </div>
</div>

<script>
  var coach_modal = document.getElementById('coach-modal');

  function modalOpen() {
    coach_modal.style.display = "grid";
    coach_modal.style.justifyContent = "center";
  }

</script>
