<%= render 'edit' %>

<div class="profile-wrapper">
  <!-- COACHES PROFILE CARD -->
  <div class="coach-wrapper">
    <div class="coach-card">
      <div class="row-card">
        <div class="column coach-card-name"><h3><%= @coach.coach_full_name %></h3></div>
      </div>
      <hr class="hr-card">
      <div class="row-card">
        <div class="column">Role: Coach</div>
      </div>
      <div class="row-card">
        <div class="column">Age: <%= @coach.age %></div>
      </div>
      <div class="row-card">
        <div class="column">Gender: <%= @coach.gender.capitalize %></div>
      </div>
      <div class="row-card">
        <div class="column">Highest Education: <%= @coach.education %></div>
      </div>
      <div class="row-card">
        <div class="column">Salary: <%= @coach.salary %></div>
      </div>
      <div class="row-card">
        <% @coach.cohorts.each do |c| %>
          <div class="column">Cohort: <%= c.name %></div>
        <% end %>
      </div>
      <div class="row-card">
        <div class="column">
          <button type="button" class="coach-edit-btn" onclick="coachOpen()">Edit</button>
          <%= link_to "DELETE", @coach, method: :delete,
                                        class: "coach-delete-btn",
                                        remote: true,
                                        data: {confirm: 'are you sure?'} %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/coaches.js"></script>
