<h2>Added New Coach</h2>

 <h5>First Name:</h5>  <%= @coach.first_name %><br>
 <h5>Age:</h5> <%= @coach.age %><br>
 <h5>Sex:</h5> <%= @coach.gender %><br>
 <h5>Highest Education:</h5> <%= @coach.education %><br></br>

 <%= link_to 'Edit Profile', edit_coach_path %>
