<!-- NEW PLAYER MODAL -->
<div class="modal-container">
  <div id="player-modal">

     <div class="player-body">
       <h2 class="player-header">New Player</h2>
       <div class="player-form">
         <%= form_for @player do |f| %>
         <label class="player-label" for="first_name">First Name</label><br>
         <%= f.text_field :first_name %><br>
         <label class="player-label" for="last_name">Last Name</label><br>
         <%= f.text_field :last_name %><br>
         <label class="player-label" for="age">Age</label><br>
         <%= f.number_field :age %><br></br>
         <%= f.select(:gender, ['--Gender--', 'Male', 'Female'], {}, {:class => "player-select-field"}) %><br>
         <%= f.collection_select  :cohort_ids,
                                   Cohort.all,
                                  :id,
                                  :name,
                                  {:prompt => '--Add Cohort--'},
                                  {:class => "player-select-field"} %><br>
         <%= f.select(:education, ['--Highest Education--',
                                   'High School',
                                   'College',
                                   'Masters',
                                   'PHD'], {},
                                  {:class => "player-select-field"}) %><br></br>
       </div>

       <div>
         <%= f.submit "Create", class: "player-submit-btn" %><br>
         <%= link_to 'Cancel', players_path, class: "cancel-link-1" %>
       </div>
         <% end %>
    </div>
  </div>
</div>
