<%= render 'new' %>

<div class="wrapper">
  <div class="row">
    <div class="column player-table-head">Players</div>
    <div class="column-6">
      <button type="button" class="add-player-btn" onclick="playerOpen()">Add Player</button>
    </div>
  </div>
  <table class="players-table">
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Profile</th>
      <th>Remove</th>
    </tr>
    <% @player_all.each do |p| %>
    <tr class="player-rows" id="player-<%=p.id%>">
      <td><%= p.id %></td>
      <td><%= p.first_name %></td>
      <td><%= p.last_name %></td>
      <td><%= p.age %></td>
      <td><%= p.gender.capitalize %></td>
      <td>
        <%= link_to player_path(p.id) do %>
          <i class="fas fa-user"></i>
        <% end %>
      </td>
      <td>
        <%= link_to player_path(p.id), method: :delete, data: {confirm: 'Are you sure you want to delete?', remote: true} do %>
          <i class="fas fa-user-times"></i>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</div>

<script src="/assets/players.js"></script>
