
<button type="button" onclick="modalOpen">Trigger</button>

<div id="player-modal">
  <div class="modal-body">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<h2>Add New Player</h2>

<%= form_for @player do |f| %>
<label for="first_name">First Name<br>
  <%= f.text_field :first_name %>
</label><br>
<label for="last_name">Last Name</label><br>
  <%= f.text_field :last_name %><br>
<label for="age">Age</label><br>
  <%= f.number_field :age %><br></br>
<label for="gender">Gender:</label><br></br>
<label for="gender_male">Male</label>
  <%= f.radio_button(:gender, 'male') %>
<label for="gender_female">Female</label>
  <%= f.radio_button(:gender, 'female') %><br></br>
  <%= f.collection_select :cohort_ids,
                           Cohort.all,
                          :id,
                          :name, {:prompt => '--Add to Cohort--'} %><br></br>
<label for="education">Education</label><br>
  <%= f.select(:education,['--Highest Education--', 'High School', 'College', 'Masters', 'PHD']) %>

   <p>
     <%= f.submit "Add Player" %>
   </p>

<% end %>

<%= link_to 'Cancel', root_path %>
