<h2>Add New Player</h2>

<%= form_for @player do |f| %>
   <label>First Name</label><br>
   <%= f.text_field :first_name %><br>
   <label>Last Name</label><br>
   <%= f.text_field :last_name %><br>
   <label>Age</label><br>
   <%= f.number_field :age %><br>
   <label>Education</label><br>
   <%= f.select(:education, ['', 'High School', 'College', 'Masters', 'PHD']) %>

   <p>
   <%= f.submit "Add Player" %>
   </p>
<% end %>

<%= link_to 'Back', 'pages/home' %>
