<%= render 'edit' %>

<div class="profile-wrapper">
  <!-- PLAYER PROFILE CARD -->
  <div class="player-wrapper">
    <div class="player-card">
      <div class="row-card">
        <div class="column player-card-name"><h3><%= @player.player_full_name %></h3></div>
      </div>

      <hr class="hr-card">

      <div class="row-card">
        <div class="column">Age: <%= @player.age %></div>
      </div>
      <div class="row-card">
        <div class="column">Gender: <%= @player.gender %></div>
      </div>
      <div class="row-card">
        <div class="column">Highest Education: <%= @player.education %></div>
      </div>
       <% if @player.cohorts.present? %>
       <% @player.cohorts.each do |c| %>
      <div class="row-card">
          <div class="column">Cohort: <%= c.name %></div>
      </div>
       <% end %>
       <% else %>
       <h6>NO COHORT ASSOCIATED WITH <%= @player.first_name %></h6>
       <% end %>
      <div class="row-card">
        <div class="column">
          <button type="button" class="player-edit-btn" onclick="playerOpen()">Edit</button>
          <%= link_to "DELETE", @player, method: :delete,
                                         remote: true,
                                         class: "player-delete-btn",
                                         data: {confirm: 'are you sure?'} %>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/players.js"></script>
